{% if mysql_backup__servers[mysql_group]['backup']  is defined %}
{{ mysql_backup__servers[mysql_group]['backup']['mysql_backup_dir'] }}/{{ mysql_group }}.sql.gz {
  daily
  rotate 14
  nocompress
  create 600 root root
  postrotate
  mysqldump -u {{ mysql_backup__servers[mysql_group]['backup']['mysql_backup_server_username'] }} -h {{ mysql_backup__servers[mysql_group]['backup']['mysql_host'] }} -p'{{ mysql_backup__servers[mysql_group]['backup']['mysql_backup_server_password'] }}' --all-databases --single-transaction > {{ mysql_backup__servers[mysql_group]['backup']['mysql_backup_dir'] }}/{{ mysql_group }}.sql
  gzip -9f {{ mysql_backup__servers[mysql_group]['backup']['mysql_backup_dir'] }}/{{ mysql_group }}.sql
  chmod 600 {{ mysql_backup__servers[mysql_group]['backup']['mysql_backup_dir'] }}/{{ mysql_group }}.sql.gz
  endscript
}
{% endif %}
