[mysqld]

datadir={{ mysql_data_dir }}
socket={{ mysql_data_dir }}/mysql.sock

transaction-isolation=READ-COMMITTED
# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

key_buffer              = 16M
key_buffer_size         = 32M
max_allowed_packet      = 16M
thread_stack            = 256K
thread_cache_size       = 64
query_cache_limit       = 8M
query_cache_size        = 64M
query_cache_type        = 1
# Important: see Configuring the Databases and Setting max_connections
max_connections         = 550

# log-bin should be on a disk with enough free space
# log-bin=/x/home/mysql/logs/binary/mysql_binary_log

# For MySQL version 5.1.8 or later. Comment out binlog_format for older versions.
binlog_format           = mixed

read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M

# InnoDB settings
#innodb_file_per_table = 1
#innodb_flush_log_at_trx_commit  = 2
#innodb_log_buffer_size          = 64M
#innodb_buffer_pool_size         = 4G
#innodb_thread_concurrency       = 8
#innodb_flush_method             = O_DIRECT
#innodb_log_file_size = 512M


# InnoDB settings.
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 64M
innodb_buffer_pool_size = 1G
innodb_log_file_size = 50M
innodb_lock_wait_timeout = 50
# These settings require MySQL > 5.5.
#innodb_large_prefix = 1
#innodb_file_format = barracuda

# for smaller instance
#innodb_log_buffer_size = 4M
#innodb_buffer_pool_size = 256M
#innodb_log_file_size = 48M

# default to UTF-8
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4

[mysqld_safe]


[client]
port=3306
socket={{ mysql_data_dir }}/mysql.sock
