# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
datadir={{ mysql_data_dir }}
socket={{ mysql_data_dir }}/mysql.sock

transaction-isolation = READ-COMMITTED

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links = 0

log-error={{ mysql_log_dir }}/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

transaction-isolation = READ-COMMITTED
# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links = 0
server-id = 2
#key_buffer = 16M
key_buffer_size = 32M
max_allowed_packet = 32M
thread_stack = 256K
thread_cache_size = 64
query_cache_limit = 8M
query_cache_size = 64M
query_cache_type = 1

max_connections = 850
#expire_logs_days = 10
#max_binlog_size = 100M


# For MySQL version 5.1.8 or later. Comment out binlog_format for older versions.
binlog_format = mixed

read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M

# InnoDB settings
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit  = 2
innodb_log_buffer_size = 64M
innodb_buffer_pool_size = 4G
innodb_thread_concurrency = 8
innodb_flush_method = O_DIRECT
innodb_log_file_size = 512M

# default to UTF-8
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

[mysqld_safe]
datadir={{ mysql_data_dir }}
socket={{ mysql_data_dir }}/mysql.sock
log_bin={{ mysql_data_dir }}/mysql_binary_log
log-error={{ mysql_log_dir }}/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid



sql_mode=STRICT_ALL_TABLES
