server {
    server_name {{ inventory_hostname }};
    charset utf-8;
    client_max_body_size 0M;
 
    listen 8001 ssl;
    ssl_certificate /opt/cloudera/security/pki/x509/local.pem;
    ssl_certificate_key /opt/cloudera/security/pki/x509/local-nopass.key;
 
    location / {
        # Or if the upstream Hue instances are running behind https://
        proxy_pass https://{{ inventory_hostname }}:8888;
        proxy_set_header        X-Real_IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-NginX-Proxy   true;
        proxy_set_header        Host            $http_host;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_pass_header       Set-Cookie;
    }
 
    location /static/ {
        # Uncomment to expose the static file directories.
        # autoindex on;
 
 
        # Or if on a parcel install:
        alias /opt/cloudera/parcels/CDH/lib/hue/build/static/;
 
        expires 30d;
        add_header Cache-Control public;
    }
}
